body {
    margin:0;
    padding:0;
    background:#404040;
    color:#f8f8f8;
    width:100%:
    font:500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    -webkit-font-smoothing:antialiased;
}
#nav_div { position:absolute; bottom:0px; height: 45px; width: 100%;}
#map, #catalog-content { position:absolute; top:0px; bottom:45px; width:100%; }
/*#footer { position:absolute; height:50px; bottom:0px; width:100%; }*/
/*#footer h3 { text-align: center; }*/

ul .glyphicon {
    font-size: 20px;
}

#nav_div li > a {
    text-align: center;
}
#nav_div li {
    margin:0px;
    min-width:15px;
    width:32.5%;
}

.catalog-list-thumbnail, .catalog-list-content {
  float: left;
}

.catalog-list-content {
  padding: 0px 5px 0px 5px;
  vertical-align: middle;
}

.catalog-list-icon {
  float: right;
}

#about-content {
  text-align: center;
}
.catalog-list-icon > span {
  font-size: 34px;
  padding: 20px 10px 10px 10px;
}

#catalog-content {
    overflow: auto;
}

#app-link {
  padding: 20px;
}

.popup-div {
    /*position: relative;*/
    min-height:100px;
    min-width:100px;
    text-align:center;
}
.popup-title {
    /*position: absolute;
    left: 1px;
    top: 1px;*/
}
.popup-image {
    /*position:absolute;
    top: 5px;
    left: 3px;*/
}
#popup-icon {
    /*position:absolute;
    bottom:2px;
    right:2px;*/
    color: black;
    font-size:20px;
}

#animation {
    position: absolute;
    height: 42px;
    width: 42px;
}